<!DOCTYPE html>
<html>

<head>
  <title>Razorpay Integration</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Razorpay Integration</h1>
  <p>Welcome to Razorpay Integration</p>

  <button id="rzp-button1">Pay with Razorpay</button>

  
</body>

</html>